<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zaloguj</servlet-name>
        <servlet-class>zaloguj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zarejestruj</servlet-name>
        <servlet-class>zarejestruj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zresetuj</servlet-name>
        <servlet-class>zresetuj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jestem_zalogowany</servlet-name>
        <servlet-class>jestem_zalogowany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>druzyny_w_ktorych_jestem</servlet-name>
        <servlet-class>druzyny_w_ktorych_jestem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>turnieje_w_ktorych_jestem</servlet-name>
        <servlet-class>turnieje_w_ktorych_jestem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wyslij_wiadomosc</servlet-name>
        <servlet-class>wyslij_wiadomosc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>podglad_turniejow</servlet-name>
        <servlet-class>podglad_turniejow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edycja_konta</servlet-name>
        <servlet-class>edycja_konta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usun_konto</servlet-name>
        <servlet-class>usun_konto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>druzyny_stworzone_przeze_mnie</servlet-name>
        <servlet-class>druzyny_stworzone_przeze_mnie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodaj_druzyne</servlet-name>
        <servlet-class>dodaj_druzyne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>turnieje_stworzone_przeze_mnie</servlet-name>
        <servlet-class>turnieje_stworzone_przeze_mnie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodaj_turniej</servlet-name>
        <servlet-class>dodaj_turniej</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zaloguj</servlet-name>
        <url-pattern>/zaloguj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zarejestruj</servlet-name>
        <url-pattern>/zarejestruj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zresetuj</servlet-name>
        <url-pattern>/zresetuj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jestem_zalogowany</servlet-name>
        <url-pattern>/jestem_zalogowany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>druzyny_w_ktorych_jestem</servlet-name>
        <url-pattern>/druzyny_w_ktorych_jestem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>turnieje_w_ktorych_jestem</servlet-name>
        <url-pattern>/turnieje_w_ktorych_jestem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wyslij_wiadomosc</servlet-name>
        <url-pattern>/wyslij_wiadomosc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>podglad_turniejow</servlet-name>
        <url-pattern>/podglad_turniejow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edycja_konta</servlet-name>
        <url-pattern>/edycja_konta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usun_konto</servlet-name>
        <url-pattern>/usun_konto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>druzyny_stworzone_przeze_mnie</servlet-name>
        <url-pattern>/druzyny_stworzone_przeze_mnie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodaj_druzyne</servlet-name>
        <url-pattern>/dodaj_druzyne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>turnieje_stworzone_przeze_mnie</servlet-name>
        <url-pattern>/turnieje_stworzone_przeze_mnie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodaj_turniej</servlet-name>
        <url-pattern>/dodaj_turniej</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
