body{
	background-color: LightSteelBlue;
	font-family: Verdana;
	font-size: 20px;
	color: Black;
}

input[type=text], select, input[type=number], input[type=date], input[type=submit] {
  width: 100px;
  padding: 4px 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
